html {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    background-color: #0e1427d4;
    color: white;
}

.content {
    padding: 10px 20px 5px 20px;
}

.car-search-category {
    clear: left;
    float: left;
    width: 100%;
    
}
.car-advert {
    border: 1px solid #494b52;
    float: left;
    height: 140px;
    width: 410px;
    padding: 5px;
    margin: 5px;
    background-color: #3d455a;
    border-radius: 4px;
    box-shadow: 4px 4px 20px 0px #2d313866;
}

.car-advert:hover {
    background-color: #565c6d;
    transition: 0.3s;
    border: 1px solid #b9d8ff69;
}

.car-title {
    height: 40px;
}

.car-image {
    width: 120px;
    height: 90px;
    border: 1px solid #535765;
    float: left;
    margin: 5px 15px 0 0;
}

.car-image img {
    padding: 1px;
}

.car-details {
    width: 250px;
    float: right;
    font-size: 13px;
}

.car-price {
    font-size: 16pt;
    font-weight: bold;
    line-height: 28px;
}


.car-price[data="savings"] {
    color: #80bc41;
}



.car-price[data="ripoff"] {
    color: red;
}

.car-detail-separator {
    color: #637071;
}

.car-label {
    padding: 3px 4px;
    border-radius: 3px;
    font-size: 11px;
    background-color: #17b557;
    display: inline-block;
    margin: 5px 4px 5px 0;
}

.info-bar {
    font-size: 12px;
    position: absolute;
    right: 10px;
}

.info-type {
    color: #72788a;
    margin-left: 5px;
}

.info-value {
    color: #56759e;
}


.car-price-icon {
    width: 28px;
    height: 28px;
    float: left;
}



.car-price .car-price-icon {
    display: none;
    margin-right: 3px;
}

.car-price[data="savings"] .car-price-icon {
    display: block;
    content: url('../images/save_money.png');
}

.car-price[data="ripoff"] .car-price-icon {
    display: block;
    content: url('../images/ripoff.png');
    padding-top: 3px;
    width: 22px;
    height: 22px;
    margin-right: 6px;
}

