html
	head
		title Használtautó figyelő
		link(rel="stylesheet" type="text/css" href="css/style.css")
	body
		div(class="info-bar")
			span(class="info-type") Version: 
			span(class="info-value") #{application.version}
			span(class="info-type") Build: 
			span(class="info-value") #{application.buildDate}
			span(class="info-type") Env: 
			span(class="info-value") #{application.environment}
		div(class="content")
			h1 Találatok
			each type in results
				div(class='car-search-category')
					h3= type.name + ' kategória találatai (' + type.lastResult.cars.length  + '):'
					each carData,idx in type.lastResult.cars
						include car
